/* Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* Reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */
body{
    width: 100%;
    height: 100vh;
    background-color: #596679;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/* Form container */
.container{
    width: 70%;
    max-width: 500px;
}

/* Sign in from */
.sign-in{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 1rem 2rem 1rem rgba(0,0,0,0.25);
}


a {
    text-decoration: none;
    color: #065bff;
    font-weight: 600;
}


.sign-in > label{
    font-weight: 600;
    margin-bottom: -1rem;
}


.input-container{
    width: 100%;
    position: relative;
    
}

input{
    padding:1.5rem 3.5rem;
    border-radius: 0.8rem;
    border: 1px solid #eee;
    font-size: 1rem;
    width: 100%;
}

input:focus{
    outline-color: #065bff;
}


.fa-envelope, .fa-lock{
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.fa-eye-slash, .fa-eye{
    position: absolute;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #a0a4a9;
    cursor: pointer;
    font-size: 1.2rem;
}


/* Remeber me section */
.state-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.state-container label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.state-container input{
    display: none;
}

.state-container input:checked ~ .checkmark{
    background-color: #065bff;
    border: 6px solid #fff;
    outline: 2px solid #065bff;
    outline-offset: -2px;
}
.checkmark{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 2px solid #eee;
    cursor: pointer;
}

/* Sign in button */

.sign-in-btn{
    cursor: pointer;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 0.8rem;
    background-color: black;
    color: #fff;
    font-weight: 600;
    border: none !important;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

/* sign-up */
.sign-up{
    display: flex;
    justify-content: center;
}

/* Separator */
.separator{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #a0a4a9;
}

.separator .line{
    flex: 1;
    height: 1px;
    border-radius: 5px;
    background-color: #eee;
}

/* Social login buttons */
.social{
    display: flex;
    gap: 2rem;

}

.social button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex: 1 0 auto;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 0.8rem;   
    border: none;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.social button i{
    font-size: 1.5rem;
}

button:hover{
    scale: 1.03;
    box-shadow: 0 0  1rem 0.2rem rgba(0, 0, 0, 0.2);
}